.cabecalho-bg {
    background-color: #000000;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cabecalho-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.cabecalho-menu a {
    color: #ffffff;
    display: inline-block;
    padding: 16px 0px;
    font-size: 18px;
    position: relative;
    font-family: "Poppins";
    font-weight: 400;
}

.cabecalho-menu a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    margin-top: 4px;
    background-color: #ffffff;
    transition: 0.3s;
    position: absolute;
}

.cabecalho-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px){
    .cabecalho-menu {
        gap: 20px;
    }
    .cabecalho-menu a {
        background-color: #111111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .cabecalho-menu a:hover {
        background-color: #2e2e2e;
    }
    .cabecalho a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .cabecalho-menu {
        gap: 12px;
    }

    .cabecalho-menu a {
        padding: 8px 12px;
        font-size: 14px;
    }
}